.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.content {
  flex: 1;
  padding: 20px;
  width: 75vw; /* Take up 75% of the view window width */
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 36px; /* Larger font size */
  padding-bottom: 20px;
}

.tableContainer {
  width: 100%;
  overflow-x: auto; /* Make the table horizontally scrollable */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.table th, .table td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  min-width: 60px; /* Ensure each cell has a minimum width for readability */
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.wideColumn {
  width: 20%;
}

.narrowColumn {
  width: 10%;
}

.link {
  color: #0070f3;
  text-decoration: none;
}

@media (max-width: 600px) {
  .title {
    font-size: 24px; /* Smaller font size for mobile devices */
  }
}

.tabs {
  display: flex;
  justify-content: space-between; /* Distribute the tabs evenly */
  width: 100%; /* Make the tabs container take up the full width of the content */
  margin-bottom: 20px;
}

.tabs button {
  flex-grow: 1; /* Make each button take up an equal amount of space */
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.tabs button:not(:last-child) {
  margin-right: 5px; /* Add space between the tabs */
}

.tabs button:hover {
  background-color: #e0e0e0;
}

.tabs button.activeTab {
  background-color: black;
  color: white;
}

.centeredText {
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.centeredSectionTitle {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}